<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <main>
    {% for city, city_deals in cities_data.items() %}
        <h2><a href="{{ base_url + '/' + (lang if lang else 'de') + '/restaurants/' + city }}" id="{{ city }}">{{ strings['deals_in'] }} {{ city.capitalize() }}</a></h2>
        
        {% if city_deals %}
            <ul>
            {% for restaurant in city_deals %}
                <li>
                    <h3>{{ restaurant['restaurant'] }}</h3>
                    <ul>
                        {% for deal in restaurant['deals'] %}
                            <li>{{ deal }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ restaurant['link'] }}">{{ strings['restaurant_details'] }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ strings['no_deals_found'] }}</p>
        {% endif %}
        <br />
    {% endfor %}
    </main>
        
    <footer>
        <a href="https://github.com/rugk/neotaste_scraper">Source code on GitHub</a>
    </footer>
</body>
</html>
