name: Daily Export and GitHub Pages Update

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run export script
        run: |
          mkdir -p output/de output/en
          python main.py --all --lang de --html output/de/index.html --json output/de/index.json
          python main.py --all --lang de --event --html output/de/event-only.html --json output/de/event-only.json
          python main.py --all --lang en --html output/en/index.html --json output/en/index.json
          python main.py --all --lang en --event --html output/en/event-only.html --json output/en/event-only.json

      # smoke test
      - name: Verify JSON export contains results
        run: |
          set -e
          python scripts/verify_json.py output/de/index.json || (echo "::error::Must have at least one entry in DE index.json"; exit 1)
          python scripts/verify_json.py output/en/index.json || (echo "::error::Must have at least one entry in EN index.json"; exit 1)

      - name: Verify JSON event export contains results
        continue-on-error: true
        run: |
          set -e
          python scripts/verify_json.py output/de/event-only.json
          python scripts/verify_json.py output/en/event-only.json

      - name: Upload site files
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'output'
        if: always()
  
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: build-and-upload
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          preview: ${{ github.ref != 'refs/heads/main' }}
